<div class="w-full cursor-pointer active:scale-[.99] transition-all duration-200 group relative">
  <div [routerLink]="['/product-detalis', product._id, product.slug]">
    <img class="w-full" [src]="product.imageCover" alt="" />
    <span class="text-green-500">{{product.category.name}}</span>

    <div class="flex justify-between items-center mb-2">
      <h2 class="text-lg capitalize truncate" [title]="product.title">{{product.title}}</h2>
      <button (click)="toggleWishlist(product._id, product); $event.stopPropagation()"
        class="p-1 rounded-full cursor-pointer">
        <i class="fa fa-heart text-xl" [class.text-red-500]="product.inWishlist === true"
          [class.text-gray-400]="!product.inWishlist">
        </i>
      </button>

    </div>

    <div class="flex justify-between items-center">
      <span>{{product.price}} EGP</span>
      <span class="text-gray-500 flex items-center gap-1">
        <i class="fa fa-star text-yellow-400"></i>{{product.ratingsAverage}}
      </span>
    </div>
  </div>

  <button (click)="addProductCart(product._id)" class="w-full bg-green-500 py-1.5 cursor-pointer rounded text-white 
           opacity-0 group-hover:opacity-100 transition-all duration-200 
           translate-y-8 group-hover:translate-y-0 mt-2
           hover:bg-green-600 hover:scale-105">
    Add to Cart
  </button>
</div>