<div class="container mx-auto">
    <h1 class="text-center text-4xl font-semibold text-main py-7">All Brands</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @if(!brands || brands.length === 0){
        @for (item of [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; track $index) {
        <div class="bg-gray-200 border border-gray-300 rounded-lg overflow-hidden animate-pulse cursor-pointer">
            <div class="w-full h-56 bg-gray-300"></div>
            <div class="p-4 space-y-2">
                <div class="h-6 bg-gray-300 rounded w-3/4 mx-auto"></div>
                <div class="h-4 bg-gray-300 rounded w-1/2 mx-auto"></div>
            </div>
        </div>

        }
        }@else {
        @for (brand of brands; track brand._id) {

        <div class="bg-white border border-gray-200 rounded-lg overflow-hidden 
         transition duration-300 cursor-pointer
         hover:shadow-[0_0_5px_2px_rgba(34,197,94,0.6)]">

            <div class="w-full">
                <img class="w-full h-56 object-contain p-4" [src]="brand.image" [alt]="brand.name"
                    [title]="brand.name" />
            </div>

            <div class="p-4">
                <p class="text-center text-lg font-semibold text-gray-800 dark:text-white">
                    {{ brand.name }}
                </p>
            </div>

        </div>
        }
        }

    </div>
</div>